﻿@font-face {
  font-family: robotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: robotoRegular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: robotoLight;
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: robotoThin;
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: robotoBold;
  src: url(../fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: robotoBlack;
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: robotoMedium;
  src: url(../fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: nirmalaBold;
  src: url(../fonts/NirmalaB.ttf);
}


/*menu-hover-effect*/
a:hover {
  text-decoration: none;
  color: #004d99;
}

.margin-top-20 {
  margin-top: 20px;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, 
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

.nav.navbar-nav > li > a:hover {
  color: #004d99;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center.active:before{
  left: 0;
  right: 0;
}

/* For Google Forms */
.disp_none{
  display: none;
}

.freebirdFormviewerViewItemsItemItemTitle, 
.quantumWizButtonPaperbuttonEl, 
.freebirdFormviewerViewNavigationPasswordWarning,
.quantumWizTextinputPaperinputPlaceholder,
.quantumWizTextinputPapertextareaPlaceholder,
.freebirdFormviewerViewHeaderHeader
{
  display: none; 
}

body{
  padding-top:120px;
}

@media (max-width: 991px){
  body{
    padding-top: 80px;
  }
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.margin-top-0 {
  margin-top: 0;
}

.banner-text-con {
  height: 100%;
  width: 100%;
  display: table;
  text-align: right;
  padding-right: 15px;
}

::-webkit-input-placeholder {
  color: #424242;
  font-family: robotoLight;
  font-size: 12px;
}

::-moz-placeholder {
  color: #424242;
  font-family: robotoLight;
  font-size: 12px;
}

::-ms-input-placeholder {
  color: #424242;
  font-family: robotoLight;
  font-size: 12px;
}

input:-moz-placeholder {
  color: #424242;
  font-family: robotoLight;
  font-size: 12px;
}

select.form-control {
  color: #424242;
  font-family: robotoLight;
  font-size: 12px;
}

/*Header-css*/

.header-con {
	z-index: 16;
  top:0;
  position: fixed;
  left:0;
  right:0;
}

.header-part1 {
	background-color: #004d99;
	min-height: 40px;
	padding: 0 40px;
}

.menu-bar {
  box-shadow: 0px 10px 5px -10px #d8d8d8;
}

.company-logo {
  background-image: url('../images/safepro-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 8px 15px;
  width: 216px;
}

.nav.navbar-nav > li > a:hover {
	color: #004d99;
}

.social-icons > .icon-circle > i.fa {
	font-size: 8px;
    color: #fff;
    margin-top: 5px;
}

.icon-circle {
	display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 0 2px;
}

.ph-no > .ph-icon-con {
	display: inline-block;
  width: 22px;
  height: 22px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-right: 10px;
}

.ph-no > .ph-icon-con > .fa {
	font-size: 12px;
  color: #fff;
  margin-top: 4px;
}

.ph-no > .ph-digits {
	color: #ffffff;
	font-family: robotoMedium;
}

.social-icons, .ph-no {
	display: inline-block;
	line-height: 40px;
}

.logo-con {
	display: inline-block;
	line-height: 80px;
}

.safepro-logo {
	width: 65%;
}

.navbar.navbar-default {
	padding: 15px 10px 15px 25px;
	border: none;
	background-color: #ffffff;
	margin-bottom: 0;
}

.nav.navbar-nav > li > a {
	font-family: robotoMedium;
	font-size: 14px;
	color: #3b3b3b;
}

.hidden-header-part1 {
	width: 12px;
	cursor: pointer;
	margin: 8px 0;
}

.hidden-header-part1 > .fa-circle {
	font-size: 7px;
  margin-top: 1;
}


.navbar-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/*Slider-css*/

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
    max-height: 550px;
  }


  /*Welcome-note*/

.welcome-note {
	margin-top: 45px;
	margin-bottom: 45px;
	padding: 0 70px;
}

.welcome-note p {
  font-family: robotoLight;
  color: #484848;
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
  padding-top: 20px;
}

.welcome-heading {
	margin-bottom: 20px;
	font-family: nirmalaBold;
  color: #40403f;
  font-weight: 600;
}

.safepro-intro h4 {
	margin-top: 20px;
  font-family: robotoMedium;
  color: #004d99;
}

.safepro-intro p {
	font-family: robotoLight;
  line-height: 1.7;
  margin: 0;
}

@media only screen and (max-width: 350px) {
	.navbar.navbar-default {
    padding: 0 5px 0px 5px;
	}
}

.safepro-intro {
	padding: 50px 70px 75px 70px;
}

/*footer-area*/

.footer-con {
	background-color: #313030;
	color: #ffffff;
	padding: 20px 0 0 0;
	font-family: robotoLight;
	font-size: 12px;
}

.contact ul >li, .quick-links ul > li {
	list-style-type: none;
}

.quick-links ul > li > a:hover, .quick-links ul > li > a:active, .quick-links ul > li > a:visited, .quick-links ul > li > a {
  color: #fff;
}

.quick-links ul > li > a:hover, .quick-links ul > li > a {
  text-decoration: none;
  cursor: hand;
}

.quick-links ul > li > a:hover{
  text-decoration: underline;
}

.footer-icon-circle > i.fa {
	font-size: 12px;
  color: #fff;
  margin-top: 6px;
}

.footer-icon-circle {
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin: 0 2px;
}

.copyright {
	padding: 15px 0 0 60px;
}

.contact ul, .quick-links ul, .follow-us  {
	line-height: 1.7;
}

.follow-us-social-icons {
	margin-top: 10px;
}

.footer-logo {
	padding: 30px;
}

.footer-logo.logo-tab {
  padding: 30px;
  width: 65%;
}

.copyright.copyright-tab {
  padding: 28px 0 0 60px;
}

.footer-contact-icon {
	padding-right: 10px;
}

.footer-contact-icon.contact-icon2 {
  padding-right: 7px;
}

.footer-contact-icon.contact-icon3 {
  padding-right: 6px;
}

.full-width {
	width: 100%;
}

.white{
    color: white;
}


.inner-content{
    display: table-cell;
    vertical-align: middle;
    background-color: transparent;
}

.main-title{
    font-size: 40px;
    font-family: robotoMedium;
}

.sub-title{
    font-size: 24px;
    font-weight: lighter;
    font-family: robotoLight;
    line-height: 1.4;
}

.see-more{
    font-size: 20px;
    font-family: robotoThin;
}

.red-box{
    width: 360px;
    padding: 50px 35px;
    background-color: rgba(206,15,41,0.9);
}

.red-box h4{
    line-height: inherit;
    font-family: robotoLight;
    min-height: 60px;
}

.center-image{
    margin: auto;
}

.btn-safepro{
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 1em 2em;
    border-radius: 0px;
    font-family: robotoBold;
    color: #232424;
}

.banner-stuff{
    width: 1170px;
    margin: auto;
}

.white.see-more > a {
  color: #004d99;
  font-family: robotoBold;
}

/* Carousel Styles */


.carousel-inner .images {
    width: 100%;
    max-height: 600px;
}

.carousel-control {
    width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 30px;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 60px;
}


.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

.banner-image-inner{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 13%;
    left: 1.8%;
    right: auto;
    width: 96.66666666666666%;
    color: #fff;
}

.header-text h2 {
    font-size: 40px;
}

.header-text h2 span {
    background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
/* Carousel */

.safer-homes-con, .efficient-retailing-con, 
.analog-to-ip-con {
  padding: 30px;
  background-color: rgba(96, 125, 139, 0.09);
}

.btn.showdetails, .btn.showdetails:hover, 
.btn.showdetails:active,.btn.showdetails:focus {
  background-color: transparent;
  border-color: transparent;
  outline: none;
  color: #ffffff;
  font-family: robotoBold;
}

.in.collapse+a.btn.showdetails:before
{
    content:'Hide details «';
    color: #333;
}
.collapse+a.btn.showdetails:before
{
    content:'Show details »';
    color: #333;
}

.contact li .map-icon {
  padding-right: 8px;
}

.contact li .mail-icon {
  padding-right: 4px;
}

.none {
  visibility: hidden;
  padding-right: 8px;
}

.minform-wrapper {
  margin: 0!important;
}

.questions input {
  margin: 0!important;
  padding: 0.3em .5em 0.3em 0.5em!important;
}

.welcome-heading {
  background-color: white;
  margin-bottom: 0px;
}

.next::after {
  top: 50px!important;
}

.simform {
  padding: 1em 0!important;
}

/*About-Us-page-css*/

.about-banner {
  background: url(../images/about-us-banner.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  height: calc(100% - 200px);
  width: 100%;
}

.support-img > img {
  width: 50%;
}

.slider-text {
  position: absolute;
  top: 40%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #fff;
}

.slider-text span {
  margin: 5px;
}

.about-company {
  padding: 40px 70px;
}

.about-company > h3 {
  color: #40403f;
  padding-bottom: 8px;
  font-family: nirmalaBold;
}

.about-company > p {
  color: #484848;
  font-family: robotoLight;
  font-size: 16px;
}

.about-banner-text {
  color: #ffffff;
  list-style: none;
  background-color: transparent;
  display: table-cell;
  vertical-align: middle;
}

.about-banner-text h2 {
  font-family: robotoBlack;
}

.team-slider {
  padding: 20px 70px;
}

.team-slider h3 {
  font-family: nirmalaBold;
  color: #40403f;
  padding-left: 20px;
}

.about-company-right-img {
  padding-top: 40px;
}

.about-company-right-img img {
  width: 75%;
}

/*Team-image-hover-effect*/

.box img, .box1 img {
  margin: 10px 10px;
}

.box {
  cursor: pointer;
  height: 338px;
  position: relative;
  overflow: hidden;
  width: 308px;
}

.box1 {
  cursor: pointer;
  height: 294px;
  position: relative;
  overflow: hidden;
  width: 308px;
}

.box img, .box1 img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.box .overbox, 
.box1 .overbox {
  background-color: #304562;
  position: absolute;
  bottom: 0;
  left: 11px;
  color: #ffffff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 298px;
  height: 100px;
  padding: 10px 20px;
}

.box:hover .overbox, 
.box1:hover .overbox
 { opacity: 1; }

.box .overtext, .box1 .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title,
.box1 .title {
  font-size: 24px;
  text-transform: uppercase;
  opacity: 0;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title,
.box1:hover .title,
.box1:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline,
.box1 .tagline {
  font-size: 0.8em;
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline,
.box1:hover .tagline,
.box1:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

/*Support-page-css*/

.support-banner {
  background: url(../images/support-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  height: calc(100% - 200px);
  width: 100%;
}

.breadcrumb a , .breadcrumb, .breadcrumb>.active, .support-banner-text {
  color: #ffffff;
  list-style: none;
  background-color: transparent;
  font-family: robotoRegular;
}

.support-banner-text {
  color: #ffffff;
  list-style: none;
  background-color: transparent;
  display: table-cell;
  vertical-align: middle;
  padding-left: 80px;
}

.support-banner-text h2 {
  font-family: robotoBlack;
}

.support-btn {
  background-color: #ef001f;
  border-color: #ef001f;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  font-family: robotoRegular;
}

.form-con div, .form-con select.form-control {
  margin: 5px 0;
}

.support-texr-area {
  padding: 40px 70px;
}

.user-form-con {
  padding: 25px 0 45px 0;
  background-color: #f3f3f3;
}

.form-area h3 {
  padding-bottom: 15px;
  font-family: nirmalaBold;
  color: #40403f;
}

.btn-block, .btn-primary:hover, .btn-primary:active, .btn.focus, .btn:focus, .btn:hover {
  background-color: #f96625;
  border-color: #f96625;
  outline: none;
  color: #ffffff;
  font-family: robotoBold;
}

.support-text p {
  font-family: robotoLight;
  color: #757474;
}

.support-text h3 {
  color: #40403f;
  font-family: nirmalaBold;
}

.support-text h4 {
  color: #40403f;
  font-family: robotoLight;
}

/*Partner-page-css*/

.partner-banner {
  background: url('../images/partner-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  height: calc(100% - 200px);
  width: 100%;
}

.partner-innovate-img img {
  width: 50%;
}

.partner-banner-text {
  color: #ffffff;
  list-style: none;
  background-color: transparent;
  display: table-cell;
  vertical-align: middle;
  padding-right: 80px;
}

.partner-banner-text h2 {
  font-family: robotoBlack;
}

.partner-pg-intro {
  padding: 30px 80px 40px 80px;
  text-align: left;
}

.partner-pg-intro p {
  font-family: robotoLight;
  font-size: 18px;
}

.partner-content-area {
  padding: 0 70px 40px 70px;
}

.partner-innovate > h3, .partner-accelerate h3,
.partner-scale h3 {
  font-family: robotoLight;
  font-size: 28px;
  color: #403f3f;
}


.partner-innovate p, .partner-accelerate p, .partner-scale p {
  font-family: robotoLight;
  color: #656464;
  font-size: 14px;
  text-align: justify;
}

.partner-join-btn {
  background-color: #ef001f;
  border-color:  #ef001f;
  border: none;
  color: #ffffff;
  padding: 10px 15px;
  margin-top: 10px;
  font-family: robotoRegular;
}

.partner-form-con {
  padding: 25px 0 45px 0;
  background-color: #f3f3f3;
}

textarea.form-group {
  border-radius: 4px;
  border: 1px solid #ccc;
  resize: none;
}

ul.partner-check-list { 
  list-style-type: none; 
  padding-left: 0;
}

ul.partner-check-list li:before { 
  content: "\2022";
  font-size: xx-large;
  vertical-align: middle;
  padding-right: 10px;
  color: #004d99;
}

.partner-right-check-points h3 {
  color: #004d99;
  font-family: robotoMedium;
}

.partner-right-check-points {
  padding: 10px 20px 0px 20px;
  margin-top: 60px;
  background-color: #f4f5f7;
}

.partner-check-list li {
  font-size: 14px;
  color: #656464;
  font-family: robotoLight;
}

/*Contact-page-css*/

.contact-banner {
  background: url(../images/contact-us-23d.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment:fixed;
  height: calc(100% - 200px);
  width: 100%;
}

.contact-banner-text {
  color: #ffffff;
  list-style: none;
  background-color: transparent;
  display: table-cell;
  vertical-align: middle;
}

.reason-inquiry {
  padding: 30px 70px;
}

.select-inquiry {
  padding: 15px 70px 30px 70px;
}

.contact-reach-btn1, .contact-reach-btn3 {
  border: 1px solid #004d99;
  border-radius: 20px;
  padding: 12px 30px;
}

.contact-reach-btn2 {
  border: 1px solid #004d99;
  border-radius: 20px;
  padding: 12px 56px;
}

.contact-reach-btn2:focus, .contact-reach-btn1:focus, 
.contact-reach-btn3:focus {
  outline: none;
  text-decoration: none;
}

.contact-reach-btn .fa-angle-right {
  padding-left: 15px;
  font-size: 18px;
  vertical-align: middle;
}

.reach-support p, .reach-channel-partner p,
.sales-support p {
  margin: 0 0 25px;
  font-family: robotoLight;
  color: #747272;
}

.reason-inquiry h3 {
  font-family: nirmalaBold;
  color: #40403f;  
}

.reason-inquiry p {
  font-family: robotoLight;
  color: #484848;  
}

.select-inquiry h3 {
  font-family: robotoMedium;
  color: #004d99;
}

.map-area {
  padding-top: 30px;
}

#map {
  height: 600px;
  width: 100%;
}

#map-canvas {
    width:500px;
    height:480px;
}

.reach-support img {
  height: 71px;
}

.contact-form-con {
  padding: 25px 0 45px 0;
  background-color: #f3f3f3;
}

.to-contact-form {
  cursor: pointer;
}

.contact-address-mobile-area {
  text-align: center;
}

.contact-address-mobile {
  text-align: left;
  display: inline-block;
  list-style-type: none;
}

.map-area-mobile {
  padding: 30px 0;
  background-color: #f3f3f3;
}

.contact-address-mobile li {
  padding: 3px 0;
}

.get-directions-btn {
  border: 1px solid #9E9E9E;
  border-radius: 20px;
  padding: 12px 30px;
}

.get-directions-btn > span {
  color: #9E9E9E;
}

.gm-style-iw > div >div, .gm-style-iw > div {
  overflow: visible!important;
}

.gm-style-iw + div {
  display: none;
}

.gm-style-iw {
  padding: 0!important;
}

.get-map {
  border: 1px solid #9E9E9E;
  border-radius: 20px;
  padding: 12px 30px;
}

.get-map > span {
  color: #000;
  padding-right: 15px;
  font-size: 14px;
}

.get-map > i.fa {
  color: #000000;
  font-size: 14px;
}

#content {
  /*width: 200px;*/
  height: 200px;
}

#content > table td, #content > table td .fa {
  font-size: 12px;
  color: #000;
}

#content > table td {
  font-size: 12px;
  padding: 2px 5px;
}

#content > table tr {
  padding: 5px 0;
}

.add-r2, .add-r3 {
  padding-top: 5px;
}

.get-map {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 12px 30px;
  position: absolute;
  bottom: 20px;
  left: 34px;
  text-decoration: none;
}


/*popup-form*/

.modal-body .user-form-con, .modal-body .partner-form-con,
.modal-body .contact-form-con {
  background-color: transparent;
  padding: 0 0 20px 0;
}

.modal-header {
  border-bottom: none;
  background-image: -webkit-linear-gradient(top, rgba(101, 85, 85, 0) 0%, #E0E0E0 100%);
  background-image: -o-linear-gradient(top, rgba(101, 85, 85, 0) 0%, #E0E0E0 100%);
  background-image: linear-gradient(to bottom, rgba(101, 85, 85, 0) 0%, #E0E0E0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff655555', endColorstr='#ffE0E0E0', GradientType=0);
}

.modal-body .form-area h3 {
  color: #004d99;
  margin: 0;
}

.modal-title{
  text-align: center;
  color: #004d99;
  font-size: 24px;
  font-family: nirmalaBold;
}

/*Product-page*/

.launch-soon-btn {
  opacity: 0;
}





@media only screen and (max-width: 768px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .navbar-toggle {
    	margin-right: 30px
    }

    .company-logo {
    	width: 190px;
    }

    .support-img > img, .partner-innovate-img > img {
      width: 100%;
    }

    .margin-30 {
      margin-top: 30px;
    }
}

@media only screen and (max-width: 480px) {
	.company-logo {
		width: 125px;
	}

	.contact, .quick-links, .follow-us {
		font-size: 12px;
	}

	ul {
		padding: 0;
	}

	.safepro-intro {
    padding: 20px 10px 5px 10px;
	}


	.footer-logo {
    padding: 30px 0px;
	}

	.copyright {
	  padding: 15px 0 0 20px;
	  font-size: 10px;
	}

  .support-texr-area {
    padding: 25px;
  }

  .support-text {
    padding-bottom: 25px;
  }

}

@media only screen and (max-width: 479px) { 
	.contact, .quick-links, .follow-us {
		font-size: 9px;
	}

	.footer-icon-circle {
    margin: 0 1px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 640px) { 
	ul {
		padding: 0;
	}

	.footer-con {
    padding: 20px 0 0 25px;
	}

	.copyright {
    padding: 15px 0 0 20px;
	}

	.company-logo {
		width: 175px;
	}
}






/** Parsley **/
/*input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}
*/
input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

/* End of Parsley*/


/* Start Captcha in the forms */
.g-recaptcha {
    display: inline-block
}

.captchalabel{
    padding-top: 5px;
}

/* End of captcha in the forms */


#customalert .modal-header{
  background: none;
    height: 10px;
}

#customalert .modal-body{
  text-align: left;
}