
<div class="modal fade" id="product-coming-soon" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
      <div class="contact-form-con" id="contact-form">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-12 text-center form-area">
								<h3>Thanks for your interest in our products. We’re updating our product list with our new launches for 2017. Please check back soon.</h3>
								<div class="form-con">
									
									<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
										<input class="form-control form-control-lg" type="text" id="product-email" placeholder="Enter your email to stay updated">
									</div>
									<div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12">
										<button type="button" class="btn  btn-md btn-block" id="product-submit">SUBMIT</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
    </div>
	</div>
	</div>
</div>
